<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_4t_tople">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".helper.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.DetailMemberUpdates"></activity>
        <activity android:name=".activity.BannerActivity" />
        <activity android:name=".activity.BoardUpdateActivity" />
        <activity android:name=".activity.Calendar_UpdateActivity" />
        <activity android:name=".activity.Calendar_ReadActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.MemberActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.Calendar_WriteActivity" />
        <activity android:name=".activity.BoardDetailActivity" />
        <activity android:name=".activity.AdminActivity" />
        <activity
            android:name=".activity.SearchActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.MoimActivity" />
        <activity android:name=".activity.SetActivity" />
        <activity android:name=".activity.MypageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 구글 맵에 필요한 meta data -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- 구글 맵에 필요한 meta data의 인증 값 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- 카카오에 필요한 meta data의 인증 값 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>